<div id="<%= dom_id contract %>">
  <p>
    <strong>Project:</strong>
    <%= contract.project_id %>
  </p>

  <p>
    <strong>Contractor:</strong>
    <%= contract.contractor_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= contract.value %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= contract.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= contract.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contract.status %>
  </p>

</div>
