<h1>Welcome to Business Management System</h1>

<p>Select a section to manage:</p>

<ul>
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "Contractors", contractors_path %></li>
  <li><%= link_to "Accounts", accounts_path %></li>
  <li><%= link_to "Clients", clients_path %></li>
  <li><%=link_to "Contracts", contracts_path %> </li>
  <li><%= link_to "Vouchers", vouchers_path %> </li> 
</ul>

