<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= project.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

</div>
