<div id="<%= dom_id contractor %>">
  <p>
    <strong>Name:</strong>
    <%= contractor.name %>
  </p>

  <p>
    <strong>Contractor type:</strong>
    <%= contractor.contractor_type %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= contractor.specialization %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contractor.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contractor.email %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= contractor.account_id %>
  </p>

</div>
