<div id="<%= dom_id voucher_entry %>">
  <p>
    <strong>Voucher:</strong>
    <%= voucher_entry.voucher_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= voucher_entry.account_id %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= voucher_entry.debit %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= voucher_entry.credit %>
  </p>

  <p>
    <strong>Narration:</strong>
    <%= voucher_entry.narration %>
  </p>

</div>
