<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= account.code %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Opening balance:</strong>
    <%= account.opening_balance %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= account.active %>
  </p>

</div>
