<%= form_with(model: voucher) do |form| %>
  <% if voucher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
        <% voucher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :voucher_number, style: "display: block" %>
    <%= form.text_field :voucher_number %>
  </div>

  <div>
    <%= form.label :voucher_type, style: "display: block" %>
    <%= form.text_field :voucher_type, placeholder: "Payment, Receipt, Journal, etc." %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.select :project_id, Project.all.collect { |p| [p.name, p.id] }, prompt: "Select Project" %>
  </div>
 <!-- Nested Voucher Entries -->
<%= form_with(model: voucher) do |f| %>
  <!-- voucher fields -->
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :voucher_number %>
    <%= f.text_field :voucher_number %>
  </div>

  <div>
    <%= f.label :voucher_type %>
    <%= f.text_field :voucher_type %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <h3>Voucher Entries</h3>
  <div data-controller="voucher-entries" data-voucher-entries-target="entries">
  <div data-voucher-entries-target="entries">
    <%= f.fields_for :voucher_entries do |ve| %>
      <%= render "voucher_entry_fields", f: ve %>
    <% end %>
  </div>
</div>
  <!-- hidden template for JS cloning -->
  <template data-voucher-entries-target="template">
    <%= f.fields_for :voucher_entries, VoucherEntry.new, child_index: "NEW_RECORD" do |ve| %>
      <%= render "voucher_entry_fields", f: ve %>
    <% end %>
  </template>

  <%= link_to "Add Entry", "#", class: "add-entry", data: { action: "click->voucher-entries#add" } %>

  <%= f.submit %>
<% end %>

<% end %>
