<div id="<%= dom_id voucher %>">
  <p>
    <strong>Date:</strong>
    <%= voucher.date %>
  </p>

  <p>
    <strong>Voucher number:</strong>
    <%= voucher.voucher_number %>
  </p>

  <p>
    <strong>Voucher type:</strong>
    <%= voucher.voucher_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= voucher.description %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= voucher.project_id %>
  </p>

</div>
